@media screen and (min-width: 767px) {/*ウィンドウ幅が767px以上の場合に適用*/
  #menu-bg {
    background-color: #00ffff; /*青色*/
  }
h1 {
  color: black;
  font-size: 70px;
  text-align: center;  
}
{
  const d = new Date();
  console.log(`${d.getMonth() + 1} 月 ${d.getDate()}`);
}
/* header {
  background: center/cover orange url(https://use.fontawesome.com/releases/v5.6.1/css/all.css)
} */
h2 {
color: rgb(1, 73, 1);
font-size: 50px;
text-align: center;

}

h3 {
  color:rgb(216, 62, 147);
  font-size: 50px;
  text-align: center;
  font-weight: bold;
}
p {
  font-size: 30px;
  color: rgb(89, 19, 155);
}
  h4 {
    color: blue;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  }
  
 h5 {
    color: orangered;
    font-size: 55px;
    text-align: center;
    margin-bottom: 10px;
   }
   h6 {
       font-size: 40px;
       text-align: center;
       margin-top: 60px;
   }

   
